.introduce_container {
    margin-top: var(--header-height);
    width: 100%;
    /* height: 2500px; */
    background-color: #f5f5f5;
}

.introduce_content {
    position: relative;
}

.intro_bg {
    width: 100%;
    height: 400px;
}

.intro_tittle1 {
    margin-top: 90px;
    text-align: center;
    font-size: 3rem;
    line-height: 42px;
}

.intro_tittle2 {
    font-size: 1.8rem;
    text-align: center;
    line-height: 28px;
    color: #000;
    margin-bottom: 53px;
}

.discover_hompage {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: 200px;
    height: 48px;
    border-radius: 16px;
    font-size: 1.6rem;
}

.discover_hompage-link {
    text-decoration: none;
    color: #fff;
}

.intro_textbox {
    margin-top: 150px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
    border-radius: 4px;
}

.intro_textbox-tittle {
    margin-top: 16px;
    text-align: center;
    font-size: 2rem;
    padding-top: 34px;
}

.intro_textbox-content {
    font-size: 1.7rem;
    padding: 0 32px 34px 32px;
    line-height: 28px;
    color: #000;
}

.intro_textbox-full {
    margin-top: 50px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
    border-radius: 4px;
}

.intro_bg-bottom {
    margin-top: 81px;
    height: 430px;
    width: 100%;
}

/* avatar profile  */
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin-top: 15px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-img {
    width: 200px;
    height: 200px;
}

.flip-card-back {
    background-color: #8DC251;
    color: white;
    transform: rotateY(180deg);
}

/* partner  */
.tittle_partner {
    margin-top: 90px;
    text-align: center;
    font-size: 3.4rem;
    line-height: 42px;
    margin-bottom: 82px;
}

.intro_logo-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 52px;
}

.intro_logo-partner {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
}