:root {
    --primary-color: #80BB35;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #bdbdbd;
    --orange-color: #FE9705;

    --header-height: 126px;
    --navbar-height: 34px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem; /*16px*/
    font-family: 'Roboto' , sans-serif;
    box-sizing: border-box;
}

/* Animation */
@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Button Style  */
.btn {
    min-width: 115px;
    min-height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    /* line-height: 1.6rem; */
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
    color: #fff;
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

.home__product-item-btn:hover {
    background-color: #8dbe4d;
}

.tag_disabled {
    display: none;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
  }

/* tạo chuyển động cho modal  */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* tạo chuyển động cho menumobile  */
@keyframes menuFadeIn {
    from {
        opacity: 0;
        transform: translateX(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* hiệu ứng fadeIn  */
@keyframes fadeIn {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
  